body{
    color: #40514E;
    text-align: center;
    margin: 0;
    font-family: "Montserrat", sans-serif;
}
h1{
    margin: 50px auto 0 auto;
    font-size: 5.625rem;
    font-family: 'Sacramento',cursive;
    color: #66BFBF;
    line-height: 2;
}
.tag{
    font-size: 2.5rem;
    color: #66BFBF;
}
h2{
    font-family: 'Montserrat',sans-serif;
    color: #66BFBF;
    font-weight: normal;
    padding-bottom: 10px;
}
h3{
    font-family: 'Montserrat',sans-serif;
    color:  #11999E;
}
.top-container{
    background-color: #FDE5D4;
    position: relative;
    padding-top: 100px;
}
.top-cloud{
    position: absolute;
    right: 300px;
    top:50px

}
.bottom-cloud{
    position: absolute;
    left: 300px;
    bottom: 300px;
}
a{
    color: #11999E;
    font-family: 'Montserrat',sans-serif;
    margin: 10px 20px;
    text-decoration: none;
}
a:hover{
    color: #e8b2ec;
}
.image{
    width: 200px;
    height: 200px;
}
.skill-row{
    width: 50%;
    margin: 100px auto 100px auto;
}
.skill-row img{
    width: 25%;
}
.skill-row p{
    position: relative;
    text-align: left;
    line-height: 2;
}

.skill-row .image2{
    width: 25%; 
    left: 10px;
    float: left;
    margin-right: 15px;
}
.skill-row .image3{
    width: 25%; 
    left: 10px;
    float: right;
    margin-left: 15px;
}
.middle-container{
    margin: 100px 0;
}
.bottom-container{
    margin-top: 10px;
    background-color: #FDE5D4;
    padding: 50px 0 20px;
}
.intro{
    width: 30%;
    margin: auto;

}
p{
    line-height: 2;
}
hr{
    border: dotted #EAF6F6 6px;
    border-bottom: none ;
    width: 4%;
    margin: 100px auto;
}
.contact-message{
    width: 40%;
    margin: 40px auto 60px;
}

.btn {
    background: #11cdd4;
    background-image: -webkit-linear-gradient(top, #11cdd4, #11999E);
    background-image: -moz-linear-gradient(top, #11cdd4, #11999E);
    background-image: -ms-linear-gradient(top, #11cdd4, #11999E);
    background-image: -o-linear-gradient(top, #11cdd4, #11999E);
    background-image: linear-gradient(to bottom, #11cdd4, #11999E);
    -webkit-border-radius: 28;
    -moz-border-radius: 28;
    border-radius: 28px;
    font-family: Arial;
    color: #ffffff;
    font-size: 20px;
    padding: 10px 20px 10px 20px;
    text-decoration: none;
  }
  
  .btn:hover {
    background: #30e3cb;
    background-image: -webkit-linear-gradient(top, #30e3cb, #2bc4ad);
    background-image: -moz-linear-gradient(top, #30e3cb, #2bc4ad);
    background-image: -ms-linear-gradient(top, #30e3cb, #2bc4ad);
    background-image: -o-linear-gradient(top, #30e3cb, #2bc4ad);
    background-image: linear-gradient(to bottom, #30e3cb, #2bc4ad);
    text-decoration: none;
  }
  .copy-right{
    color: grey;
    font-size: 0.75rem;
    padding: 20px c;
  }